.character-info{
    display: flex;
    gap: 50px;
    align-items: center;
    width: 60%;
    margin: 50px auto; 
    justify-content: end;
}

.character-image {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: transform 0.2s;
  }
  
  .character-image:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .character-image img {
    width: 150px;
    height: auto; /* Mantener la proporción de la imagen */
    border-radius: 50%; /* Hacer la imagen circular */
    border: 2px solid #007BFF; /* Agregar un borde alrededor de la imagen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para la imagen */
  }

p {
    font-size: 20px;
    margin: 5px 0;
    font-weight: bold;
  }
  